.DS_Store
target/
target/*
.idea/workspace.xml
.idea/modules.xml
.idea/ant.xml
.idea/libraries/
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/uiDesigner.xml
.idea/shelf
.idea/kotlinc.xml
.idea/encodings.xml
